:root {
    --var-main-font-regular: "aeonik_trialregular", Arial, sans-serif;
    --var-main-font-light: "aeonik_triallight", Arial, sans-serif;
    --var-main-font-bold: "aeonik_trialbold", Arial, sans-serif;

    --var-main-btn-bg-color: #c12746;
    --var-main-btn-ft-color: #fff;
}

@mixin btn-main {
    font-weight: 500;
    font-family: "Inter", Arial, sans-serif;
    color: var(--var-main-btn-ft-color);
    background: var(--var-main-btn-bg-color);
    border-radius: 50px;
    //padding: 20px;
    // display: block;
    // border-radius: 30px;
    // transition: .3s ease-in-out;
    // text-decoration: none;
    &:hover {
        color: #fff;
        opacity: 0.9;
    }
    transition: opacity 0.5s ease, 0.3s ease-in-out;
}

.btn-main {
    @include btn-main;
}




/*
    Home *************************************************************************************** /
*/
.hero-home {
    position: relative;
    z-index: 1;
    .display-cs {
        line-height: 0.85;
        font-family: var(--var-main-font-regular);
        font-weight: 400;
    }
    .lead-cs {
        font-weight: 400;
        font-size: 1.1rem;
        font-family: "Inter", Arial, sans-serif;
    }
    .btn-cs {
        border-radius: 50px;
        padding: 0.8rem 1.2rem;
        font-size: 16px;
        &:hover {
            background: #000;
        }
    }

    @media (max-width: 568px) {
        .display-cs {
            font-size: calc(1.625rem + 5vw);
        }
        .lead-cs {
            font-size: 13px;
        }
        .btn-cs {
            padding: 0.55rem 1.15rem 0.6rem;
            font-size: 14px;
            margin-top: -5px;
        }
    }
}

.bullet-wrap {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    .bullet-dot {
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        border: 1px solid #fff;
        margin: 0 4px;
        zoom: 0.8;
        cursor: pointer;

        &.active {
            background: none;
            border: 1px solid #c12746;
        }
    }
}

.cover-quem-somos {
    position:relative;
    background: #000;

    .display-cs {
        line-height: 0.9;
        font-family: var(--var-main-font-regular);
        font-weight: 400;
        z-index:2;
    }

    .box-cs {
        width: 85%;
        p {
            font-family: "Inter", Arial, sans-serif;
            color: #dcdcdc;
            margin-bottom: 2rem;
        }
    }
    .box-pattern {
        position: absolute;
        width: 30%;
        max-width: 380px;
        inset: 0;
        left: 0;
    }

    @media (max-width: 768px) {
        .display-cs {
            font-size: 65px;
            margin-top:-5px
        }
        .lead-cs {
            font-size: 13px;
        }
        .box-cs {
            width: 95%;
            p {
                font-family: "Inter", Arial, sans-serif;
                color: #dcdcdc;
                font-size: 12px;
                padding: 0 10px;
                margin-top: -15px;
            }
        }

        .box-pattern {
            position: absolute;
            width: 100%;
            max-width: 210px;
            top: -160px;
            left: 0px;
            z-index: 0;
        }
    }
}

.cover-numeros {

    position:relative;
    background:#ebebeb;

    .display-cs {
        line-height: 0.92;
        font-family: var(--var-main-font-regular);
        font-weight: 400;
        color:#000;
        margin-bottom:2rem;
    }

    .btn-cs {
        border-radius: 50px;
        padding: 0.8rem 1.2rem;
        font-size: 16px;
        width: fit-content;
        margin: 0 auto;
        background: #000;
        &:hover {
            opacity:.75;
        }
    }

    @media (max-width: 768px) {
        .display-cs {
            font-size:40px;
        } 
        .btn-cs {
            padding: 0.6rem 1.15rem 0.7rem;
            font-size: 14px;
            margin-top: -5px;
        }
    }


    /* Grid For desktop */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0;
    }
    .grid-item {
        padding: 50px 25px 60px;
        text-align: center;
        border-right:1px solid #B5B5B5;
        &:last-child{
            border:0;
        }
    }

    /* Grid For Mobile */
    @media (max-width: 768px) {
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px
        }
        .grid-item {
            background-color: none;
            padding: 20px 0;
            text-align: center;
            border:0;
            &:nth-child(1),&:nth-child(3){
                border-right:1px solid #B5B5B5;
                padding-right:20px;
            }
        }
    }

    .box-number{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        > div{
            &:nth-child(1){
                font-family: var(--var-main-font-light);
                color:#C12746;
                font-weight: 300;
                font-size: 100px;
                line-height: 120px;
            }
            &:nth-child(2){
                font-size:16px;
                font-family: "Inter", Arial, sans-serif;
                color:#000;

            }
            &:nth-child(3){
                margin-top: 20px;
                width: 70px;
                height: 3px;
                background: #C12746;
                border-radius: 5px;
                display: block;
            }
        }

        //Mobile
        @media (max-width: 768px) {

            > div{
                &:nth-child(1){
                    font-size: 90px;
                    line-height: 94px;
                }
                &:nth-child(2){
                    font-size:11px;
    
                }
                &:nth-child(3){
                    margin-top: 15px;
                    width: 50px;
                    height: 2px;
                    background: #C12746;
                    border-radius: 5px;
                    display: block;
                }
            }

        }
    }


}



.cover-especialidades {

    position:relative;
    background:#C12746;
    border-radius:50px 50px 0 0;
    overflow: hidden;

    .display-cs {
        line-height: 0.92;
        font-family: var(--var-main-font-regular);
        font-weight: 400;
        color:#fff;
        margin-bottom:1.2rem;
        //Mobile
        @media (max-width: 768px) {
            font-size:44px;
            font-family: var(--var-main-font-regular);
        }
    }

    p.texto{
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        color:#DCDCDC;
        max-width: 470px;
        //Mobile
        @media (max-width: 768px) {
            font-size:14px;
        }
    }

}

.cover-corpo-docente {

    position:relative;
    background:#ffffff;
    overflow: hidden;

    .display-cs {
        line-height: 0.92;
        font-family: var(--var-main-font-regular);
        font-weight: 400;
        color:#000000;
        margin-bottom:1rem;
        //Mobile
        @media (max-width: 768px) {
            font-size:48px;
            font-family: var(--var-main-font-regular);
            margin-bottom:1rem;
        }
    }


    ul.texto{
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        color:#6B6B6B;
        max-width: 580px;
        font-size:14px;
        //Mobile
        @media (max-width: 768px) {
            font-size:13px;
        }
    }

}


.cover-curso-carousel {

    position:relative;
    background:#ffffff;
    overflow: hidden;

    .display-cs {
        line-height: 0.92;
        font-family: var(--var-main-font-regular);
        font-weight: 400;
        color:#000000;
        margin-bottom:0.8rem;
        //Mobile
        @media (max-width: 768px) {
            font-size:48px;
            font-family: var(--var-main-font-regular);
            margin-bottom:0.8rem;
        }
    }

    p.texto{
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        color:#6B6B6B;
        max-width: 440px;
        //Mobile
        @media (max-width: 768px) {
            font-size:13px;
        }
    }

}


.cover-banner-vermelho{
    
    position:relative;
    background:url('../images/banner-vermelho.jpg') no-repeat center center #C12746;
    background-size:cover;

    .display-cs {
        line-height: 1.2;
        font-family: var(--var-main-font-light);
        font-weight: 300;
        color:#fff;
        margin-bottom:2.2rem;
        max-width: 600px;
        //Mobile
        @media (max-width: 768px) {
            font-size:28px;
            font-family: var(--var-main-font-light);
            margin-bottom:2.2rem;
        }
            span{
                font-family: var(--var-main-font-bold);
                font-weight: 700;
            }
    }

    .btn-cs {
        border-radius: 50px;
        padding: 0.8rem 2.2rem;
        font-size: 16px;
        width: fit-content;
        margin: 0 auto;
        background: #000;
        &:hover {
            opacity:.75;
        }
    }

    @media (max-width: 768px) {
        .btn-cs {
            padding: 0.6rem 1.5rem 0.7rem;
            font-size: 14px;
            margin-top: -5px;
        }
    }

}



.cover-dizem-sobre-nos {

    position:relative;
    background:#000;
    overflow: hidden;

    .display-cs {
        line-height: 0.92;
        font-family: var(--var-main-font-regular);
        font-weight: 400;
        color:#fff;
        margin-bottom:1.5rem;
        //Mobile
        @media (max-width: 768px) {
            font-size:52px;
            font-family: var(--var-main-font-regular);
            margin-bottom:1.2rem;
        }
    }

    p.texto{
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        color:#fff;
        margin-bottom:1.6rem;
        //Mobile
        @media (max-width: 768px) {
            font-size:12px;
            margin-bottom:1.6rem;
        }
    }

}


.cover-duvidas-frequentes{
    
    position:relative;
    background:#C12746;
    background-size:cover;

    .display-cs {
        line-height: 1.2;
        font-family: var(--var-main-font-regular);
        font-weight: 300;
        color:#fff;
        margin-bottom:1.2rem;
        max-width: 600px;
        //Mobile
        @media (max-width: 768px) {
            font-size:54px;
            line-height: .92;
            font-family: var(--var-main-font-regular);
            margin-bottom:0.8rem;
        }
    }

    /*PERGUNTAS E RESPOSTAS*/	
    $asset-path:"../images/";	
    .box-perguntas{
        padding:40px 0 25px;border-bottom:1px solid #fff;text-align:left;cursor:pointer;max-width: 80%;margin: 0 auto;user-select: none;
        .p-titulo{font:500 16px/24px 'Inter';color:#fff;letter-spacing:0.2px;padding-right:30px;}
        .p-resposta{font:300 14px/24px 'Inter';letter-spacing:0.2px;color:#fff;padding:20px 0 0;}
        .arrow-up{background:url(#{$asset-path}arrow-up.png) no-repeat right;background-size:20px;}
        .arrow-down{background:url(#{$asset-path}arrow-down.png) no-repeat right;background-size:20px;}

        //Mobile
        @media (max-width: 768px) {
            max-width: 100%;
            .p-titulo{font-family:16px;} 
            .p-resposta{font-family:14px;} 
        }
    }

    .btn-cs {
        border-radius: 50px;
        padding: 0.8rem 2rem;
        font-size: 16px;
        width: fit-content;
        margin: 0 auto;
        background: #fff;
        color:#C12746;
        &:hover {
            opacity:.75;
        }
    }

    @media (max-width: 768px) {
        .btn-cs {
            padding: 0.6rem 1.5rem 0.7rem;
            font-size: 14px;
            margin-top: -5px;
        }
    }

}



.cover-nosso-aluno {
    position:relative;
    background: #f2f2f2;
    overflow: hidden;

    > div.container{
        max-width: 80%;
        @media (max-width: 768px) {
            max-width: 100%;
        }
    }
    
    .form-control,.form-select{
        font:14px / 30px 'Inter';
        border-radius:50px;
        padding:.4rem 1.2rem .375rem;
    }

    // .form-control#email::placeholder { 
    //         color: #C12746; 
    // }

    .display-cs {
        line-height: 0.9;
        font-family: var(--var-main-font-regular);
        font-weight: 400;
        z-index:2;
        color:#000;
    }

    p.texto{
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        color:#000;
        max-width: 280px;
        z-index:2;
        //Mobile
        @media (max-width: 768px) {
            font-size:14px;
            max-width: 220px;
            margin-bottom:1.8rem;
        }
    }

    .box-pattern {
        position: absolute;
        max-width: 320px;
        bottom: -230px;
        left: 0px;    
        z-index:1;    
    }

    .pattern-height{
        height: 100px;
    }

    @media (max-width: 768px) {
        .display-cs {
            font-size: 45px;
        }

        .box-pattern {
            position: absolute;
            width: 80%;
            max-width: 130px;
            bottom: -110px;
            left: -30px;   
            z-index: 1;
        }

        .pattern-height{
            height: 10px;
            padding: 0;
        }
    }


    .btn-cs {
        border-radius: 50px;
        padding: 0.4rem 2.4rem 0.6rem;
        font-size: 16px;
        width: fit-content;
        margin: 0 auto;
        background: #C12746;
        color:#fff;
        margin-top:2px;
        &:hover {
            opacity:.75;
        }
    }

    @media (max-width: 768px) {
        .display-cs {
            font-size:40px;
        }
        .btn-cs {
            padding: 0.5rem 3.2rem 0.6rem;
            font-size: 14px;
            margin-top: 5px;
        }
    }

    
}


.cover-footer{
    position:relative;
    z-index:5;
    margin-top:-24px;
    position:relative;
    background:url("../images/bg-footer-desktop.png") no-repeat top center;
    background-size: cover;
    min-height: 300px;
    border-radius:35px 35px 0 0;
    @media (max-width: 768px) {
        margin-top:-20px;
        background:url("../images/bg-footer-mobile.png") no-repeat top center;
        min-height: 450px;
    }
}






/*
    Curso *************************************************************************************** /
*/

#hero-curso {
    position: relative;
    z-index: 1;
    .display-cs {
        line-height: 0.9;
        font-family: var(--var-main-font-regular);
        font-weight: 400;
    }
    p,
    div {
        font-family: "Inter", Arial, sans-serif;
    }

    .lead-cs {
        font-weight: 400;
        font-size: 1.1rem;
        font-family: "Inter", Arial, sans-serif;
    }
    .btn-cs {
        border-radius: 50px;
        padding: 0.8rem 1.2rem;
        font-size: 16px;
        &:hover {
            background: #000;
        }
    }
}




.cover-mais-detalhes {
    position:relative;
    background: #000;

    .display-cs {
        line-height: 0.9;
        font-family: var(--var-main-font-regular);
        font-weight: 400;
        z-index:2;
    }

    .box-cs {
        width: 80%;
        p {
            font-family: "Inter", Arial, sans-serif;
            color: #dcdcdc;
            margin-bottom: 2rem;
        }
    }
    .box-pattern {
        position: absolute;
        width: 480px;
        bottom: -320px;
        left: 10px;
    }

    @media (max-width: 768px) {
        .display-cs {
            font-size: 48px;
        }
        .box-cs {
            width: 95%;
            p {
                font-family: "Inter", Arial, sans-serif;
                color: #dcdcdc;
                font-size: 12px;
                padding: 0 10px;
                margin-top: -15px;
            }
        }

        .box-pattern {
            position: absolute;
            width: 100%;
            max-width: 210px;
            top: -160px;
            left: 0px;
            z-index: 0;
        }
    }
	
    .box-perguntas{
        padding:30px 0 25px;border-bottom:1px solid #fff;text-align:left;cursor:pointer;margin: 0 auto;user-select: none;
        .p-titulo{font:500 16px/24px 'Inter';color:#fff;letter-spacing:0.2px;padding-right:30px;}
        .p-resposta{font:300 14px/24px 'Inter';letter-spacing:0.2px;color:#fff;padding:20px 0 0;}
        .arrow-up{background:url('../images/arrow-up.png') no-repeat right;background-size:20px;}
        .arrow-down{background:url('../images/arrow-down.png') no-repeat right;background-size:20px;}

        //Mobile
        @media (max-width: 768px) {
            .p-titulo{font-family:16px;} 
            .p-resposta{font-family:14px;} 
        }
    }

    .btn-cs {
        border-radius: 40px;
        padding: 0.6rem 2.4rem 0.75rem;
        font-size: 16px;
        width: fit-content;
        margin: 0 auto;
        background:#C12746;
        color:#fff;
        margin-top:10px;
        width:100%;
        font-weight: bold;
        &:hover {
            opacity:.75;
        }
        @media (max-width: 768px) {
            padding: 0.5rem 3.2rem 0.6rem;
            font-size: 14px;
            margin-top: 5px;
        }
    }


    /* Grid For desktop */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width:450px;
    }
    .grid-item {
        color:#fff;
        padding: 10px 0;
        text-align: left;
        
        > div {

            font-family: 'Inter', Arial, Helvetica, sans-serif;
            font-size:16px;
            
                &:first-child{
                    color:#C12746;
                    font-weight: 600;
                    margin-bottom:4px;
                }

                &:last-child{
                    display:flex;
                    justify-content: start;
                    align-items: center;
                    color:#fff;
                    font-weight: 400;
                    
                }
            }
        
    }


    /* Grid For Mobile */
    @media (max-width: 768px) {
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
            gap: 5px
        }
        .grid-item {
            padding: 10px 0;
        }
    }




}



.cover-curso-valor {
    position:relative;
    background: #C12746;
    border-radius:0 0 50px 50px;

    .display-cs {
        line-height: 0.9;
        font-family: var(--var-main-font-regular);
        font-weight: 400;
        color:#fff;
        font-size:6rem;
        margin-bottom:1rem;
        z-index:2;
        @media (max-width: 768px) {
            font-size:48px;
            font-family: var(--var-main-font-regular);
            margin-bottom:1rem;
        }
    }

    p.texto{
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        color:#fff;
        max-width: 410px;
        z-index:2;
        span.valor{
            font-family: var(--var-main-font-regular);
            font-size:22px;
            line-height: 1.4;
            b{
                font-weight: bold;
                font-family: var(--var-main-font-bold);
            }
        }
        span.pagamento{
            font-size:19px;
            line-height: 1.4;
            b{
                font-weight: bold;
                font-family: var(--var-main-font-bold);
            }
        }
        &.fs-10{
            margin-top:5px;
            max-width: 380px;
            font-size:10px;
        }
        //Mobile
        @media (max-width: 768px) {
            font-size:13px;
            max-width: 410px;
            margin-bottom:1.8rem;
        }
    }

    .box-cs{
        font-family: var(--var-main-font-regular);
        max-width: 450px;
        > div{
            &:nth-child(1){
                font-size:26px;
                margin-top:80px;
            }
            &:nth-child(2){
                font-size:54px;
                line-height: .92;
                font-weight: 400;
            }
        }
        .box-price{
            padding:2px 0;
            border-top:1px solid #fff;
            border-bottom:1px solid #fff;
            font-family: var(--var-main-font-regular);
            color:#fff;
            span:nth-child(1){
                font-size:54px;
                font-weight: bold;
                font-family: var(--var-main-font-bold);
            }
            span:nth-child(2){
                font-family: var(--var-main-font-regular);
                font-size:35px;
                font-weight: 400;
                padding-left:7px;
            }
            span:nth-child(3){
                font-size:70px;
                font-weight: 400;
                .fs-val{
                    font-family: var(--var-main-font-regular);
                    font-weight: 400;
                    font-size:50px;
                }
            }
        }
        
    }

    .btn-cs {
        border-radius: 40px;
        padding: 0.6rem 2.4rem 0.75rem;
        font-size: 16px;
        width: fit-content;
        margin: 0 auto;
        background: #000;
        color:#fff;
        margin-top:2px;
        width:100%;
        font-weight: bold;
        &:hover {
            opacity:.75;
        }
        @media (max-width: 768px) {
            padding: 0.5rem 3.2rem 0.6rem;
            font-size: 14px;
            margin-top: 5px;
        }
    }

    a{
        color:#C12746;
    }


}









/*
    Landing *************************************************************************************** /
*/
#hero-landing {
    position: relative;
    z-index: 1;
    .display-cs {
        line-height: 0.9;
        font-family: var(--var-main-font-regular);
        font-weight: 400;
    }
    p,
    div {
        font-family: "Inter", Arial, sans-serif;
    }

    .lead-cs {
        font-weight: 400;
        font-size: 1.1rem;
        font-family: "Inter", Arial, sans-serif;
    }
    .btn-cs {
        border-radius: 50px;
        padding: 0.8rem 1.2rem;
        font-size: 16px;
        &:hover {
            background: #000;
        }
    }
}




.cover-invista {
    position:relative;
    background: #C12746;
    border-radius:0 0 50px 50px;

    .display-cs {
        line-height: 0.9;
        font-family: var(--var-main-font-regular);
        font-weight: 400;
        color:#fff;
        font-size:6rem;
        margin-bottom:1rem;
        z-index:2;
        @media (max-width: 768px) {
            font-size:48px;
            font-family: var(--var-main-font-regular);
            margin-bottom:1rem;
        }
    }

    p.texto{
        font-family: 'Inter', Arial, Helvetica, sans-serif;
        color:#fff;
        max-width: 410px;
        z-index:2;
        b{
            font-size:20px;
            line-height: 1.4;
            font-family: var(--var-main-font-bold);
        }
        &.fs-10{
            margin-top:5px;
            max-width: 380px;
            font-size:10px;
        }
        //Mobile
        @media (max-width: 768px) {
            font-size:13px;
            max-width: 410px;
            margin-bottom:1.8rem;
        }
    }


    .box-form{
        background:#191919;
        border-radius: 12px;

        .mt-cs{
            margin-top:0.8rem;
        }

        .box-title{
            display:block;
            font-family: var(--var-main-font-bold);
            font-weight: 700;
            font-size:24px;
            line-height: 1.4;
            margin-top:-4px;
        }

        .form-control,.form-select{
            font:14px / 30px 'Inter';
            border-radius:6px;
            padding:.4rem 1.2rem .375rem;
            background:#494949;
            color: #fff; 
            border:0;
            &::placeholder { 
                color: #b3b3b3; 
            }
        }

        .custom-select{
            color: #b3b3b3;
            background-image:url("data:image/svg+xml,<svg width='24' height='14' viewBox='0 0 24 14' xmlns='http://www.w3.org/2000/svg' fill='none'><path d='M22.0964 2.26436L12.0118 12.5109L1.74743 2.24659' stroke='%23000000' stroke-width='2.62869' stroke-linecap='round' stroke-linejoin='round'/></svg>") !important;
            background-position:right .75rem center;
            background-size:13px 10px;
            background-color:#494949;
            background-repeat:no-repeat;
         }
        
    }


    .btn-cs {
        border-radius: 6px;
        padding: 0.4rem 2.4rem 0.6rem;
        font-size: 16px;
        width: fit-content;
        margin: 0 auto;
        background: #C12746;
        color:#fff;
        margin-top:2px;
        width:100%;
        font-weight: bold;
        &:hover {
            opacity:.75;
        }
        @media (max-width: 768px) {
            padding: 0.5rem 3.2rem 0.6rem;
            font-size: 14px;
            margin-top: 5px;
        }
    }

    a{
        color:#C12746;
    }



}
