//@import "_variables"; //variables can not be imported to --var but directly is ok. background:$primary-text-color; is fine but not --var-background:$primary-text-color;

@mixin menu-sm{    
    --var-menu-bg-color: #fff;
    --var-menu-logo-filter: none;
    --var-menu-toggle-filter: none;
    --var-menu-arrow-svg-filter: none;
    --var-menu-arrow-svg-opacity:1;
    --var-menu-font-color:#fff;
    --var-menu-btn-font-color:#fff;
    --var-menu-link-bg-hover: #C12746;
    --var-menu-btn-bg:#C12746;
    --var-menu-btn-bg-hover:#000000;
    --var-menu-bg-active:#C12746;
    --var-menu-size-height: 70px; //altura do menu mobile (variables.scss not working if set to --var so it was defined here) 
    @media (min-width: 992px) {
        --var-menu-size-height: 96px; //altura do menu desktop
    }
}


:root{
    //Menu Geral
    --var-menu-bg-color: #fff;
    --var-menu-logo-filter: none;
    --var-menu-toggle-filter: none;
    //MENU - Links e BTN 
    --var-menu-font-family: 'Inter', Arial, sans-serif;
    --var-menu-link-padding: 9px 17px 10px;
    --var-menu-btn-padding: 9px 17px 10px;
    @include menu-sm;
    //Desktop
    //@media (min-width: 992px) {
        --var-menu-logo-filter: brightness(0%) invert(100%);
        --var-menu-toggle-filter: brightness(0%) invert(100%);
        --var-menu-bg-color: rgba(0,0,0,.5);
        --var-menu-font-color:#fff;
        --var-menu-link-bg-hover: #C12746;
        --var-menu-btn-bg:#C12746;
        //--var-menu-btn-bg-hover:#C12746;
        --var-menu-btn-bg-hover:#000000;
        --var-menu-bg-active:#C12746;
    //}
}


.landing-theme{
    @include menu-sm;
    //@media (min-width: 768px) {
        --var-menu-bg-color: none;
        --var-menu-logo-filter: none;
        --var-menu-logo:none;
        --var-menu-font-color:#000;
        --var-menu-arrow-svg-filter: brightness(100%) invert(100%);
        --var-menu-arrow-svg-opacity:0.6;
    //}
    #desktop-menu .navbar-nav a{
        &:active,&:hover,&:focus{
            color:#fff !important;
        }
    }
}

.home-theme{
    @include menu-sm;
    @media (min-width: 992px) {
        --var-menu-btn-bg-hover:#000;
        #desktop-menu{
            background:none;
        }
        #logo-theme{
            display:none !important;
        }
    }
}

.anchor{
    margin-top:-10px;
    margin-bottom:10px;
    visibility: hidden;
}

/*Mixin Menu Links e Buttons*/
@mixin menu-link-custom(){
    position: relative;
    display: block;
    font:400 17px/20px var(--var-menu-font-family);
    color:var(--var-menu-font-color);
    padding:var(--var-menu-link-padding);
    border-radius:30px; 
    &:hover{ //&:hover, &:active, &:focus
        background:var(--var-menu-link-bg-hover);
        opacity:.9;
    }
    &.active{
        background:var(--var-menu-bg-active);
    }
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-decoration:none;
}

@mixin menu-btn-custom(){
    position: relative;
    display: block;
    font:400 14px/16px var(--var-menu-font-family);
    @media (min-width: 768px) {
        font:400 17px/20px var(--var-menu-font-family);
    }
    color:var(--var-menu-btn-font-color);
    background:var(--var-menu-btn-bg);
    padding:var(--var-menu-btn-padding);
    border-radius:30px;
    &:hover,&:focus,&:active{
        background:var(--var-menu-btn-bg-hover);
        opacity:1;
    }
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-decoration:none;
    
}

@mixin menu-link-entrar(){
    position: relative;
    display: block;
    font:400 17px/20px var(--var-menu-font-family);
    color:var(--var-menu-font-color);
    margin-top: 5px;
    margin-right: 25px;
    margin-left: 25px;
}


/*
*
* Custom Options
*
*/
.dropdown-caret::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.2);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 5%; /* position */
    position: absolute;
    top: -8px;
}
.dropdown-caret::after {
    border-bottom: 8px solid #FFFFFF;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 5%; /* position */
    position: absolute;
    top: -7px;
}
#flipSVG, #flipSVGMobile{ 
    width: 18px;
    margin-top: -2px;
    margin-left: -3px;
    filter:var(--var-menu-arrow-svg-filter);
    opacity:var(--var-menu-arrow-svg-opacity);
    zoom:.8;
}
#flipSVG{
    zoom:.75;
}
.flipped {
    transform: scaleY(-1);
}



/**
*
* Menu Navigation
*
*/
/*Menu Wrap Sticky*/
.main-cover > div:nth-child(1){
    padding-top:var(--var-menu-size-height); 
}
#header-wrap{ 
    min-height:var(--var-menu-size-height); 
    width:100%;
    position:absolute;
    inset:0;
}

/*Menu Principal Navigation*/
#desktop-menu {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: var(--var-menu-bg-color);
    min-height: var(--var-menu-size-height);
    font-family:var(--var-menu-font-family);

    .logo {
        filter:var(--var-menu-logo-filter);
        width: 150px;
        height: auto;
        margin-right: 10px;
    }

    @media (min-width: 768px) {
        .logo {
            width: 190px;
            height: auto;
            margin-right: 40px;
        }
    }
    /*Navigation Toggler*/
    .navbar-toggler {
        border-color: transparent;
        border: 0;
        padding: 0;
        margin-left: 12px;
        filter:var(--var-menu-toggle-filter);

        &:focus {
            box-shadow: none;
        }
    }

    .navbar-toggler-icon {
        width: 30px;
        height: 30px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    /*Menu Principal Botões*/
    .btn-menu-primary {
        @include menu-btn-custom;
    }

    /*Menu Principal Links*/
    ul.navbar-nav {
        > li.active > a::before {
            width: 60%;
        }

        > li {
            margin-left: 10px;

            &:last-child {
                margin-left: 10px;
            }

            > a {
                @include menu-link-custom;
                position: relative;
                display: block;
                &.dropdown-toggle::after {
                    display: none !important;
                }

            }
        }
    }
    /*Menu DropDown Links*/
    ul.dropdown-menu {
        margin-top: 12px;
        border: 1px solid rgba(0,0,0,0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
        box-shadow: 0 6px 12px rgb(0 0 0 / 18%);

        a.dropdown-item {
            font: 500 17px Inter;
            color: #707070;
            margin: 5px 0;
            padding: 0.45rem 1rem;
            border-radius: 0;
            border-left: 5px solid #fff;
            cursor:pointer;
            -webkit-transition: 0.2s ease-in-out;
            -o-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;

            &.dropdown-lang {
                font: 500 17px Inter;
                color: #707070;
                font-size: 17px;
                background: #fff;
                border-width: 0;

                &:hover, &:focus {
                    background-color: #f5f6fa;
                    border-width: 0;
                }

                @media (min-width: 992px) {
                    font-size: 15px;
                }

                img {
                    max-width: 21px;
                    margin-right: 4px;
                    margin-top: -1px;
                    opacity: .9;
                    border-radius: 2px;
                }

                .flag-br, .flag-us {
                    width: 21px;
                    opacity: .85;
                    margin-right: 6px;
                    margin-top: -2px;
                }

                .flag-us {
                    margin-bottom: -2px;
                }
            }
        }

        &.drop-i18n {
            left: -25px;
            background: #fff;
            padding: 8px 0 12px;
            min-width: 150px;
            border-top: 2px;
            border-radius: 2px;
            margin-top: 10px;
            border: 1px solid transparent;

            @media (min-width: 992px) {
                left: 2px;
                padding: 5px 0 8px;
            }
        }
    }

    #dropCursos{

        padding:20px 10px;

        li > a.link-main{
            font: 500 23px Inter;
            color: #000;
            padding:1rem 1.5rem;
            user-select: none;
            &:hover{
                color: #C12746;
            }
        }
        li > a:not(.link-main){
            font: 400 17px Inter;
            color: #000;
            border-radius:4px;
            &:last-child{
                margin-bottom:5px;
            }
        }
        .dropdown-item{
            padding:.35rem 1rem;
            &:hover{
                background-color:#F5F6FA;
                color:#C12746;
            }
            &:active{
                background-color:#F5F6FA;
            }
        }

    }

    .lang-link {
        @include menu-link-entrar;
    }

    .caret-off::after {
        display: none !important;
    }

}
/*END Menu Principal Navigation*/

/*Menu Animation*/
.dropdown-menu {
    transform-origin: top;
    animation: fadeInDown 0.3s ease-in-out;
    display: none;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@-webkit-keyframes navbarFixed {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    }

    @keyframes navbarFixed {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}





/*
*
* OffCanvas Menu Mobile
*
*/
#mobile-menu {

    /*
    *
    * OffCanvas BootStrap Override Styles
    *
    */
        .modal-backdrop.show{opacity:0.5;z-index:1040;}
        .logo {width: 150px;}
        .offcanvas.offcanvas-top {width: 100%;height:100%;border:0;background:#000;}
        .offcanvas-header {height:70px;min-height:70px;padding:.5rem .9rem;}
        .offcanvas-body {padding: 1rem 0.5rem;flex-grow: 0; }
        .btn-close {
            filter:invert(100%);
            border-color: transparent;
            background-size: 14px;
            opacity:1;
            margin-right:4px;
            &:focus {
                box-shadow: none;
            }
        }
        .offcanvas-footer {
            background: #000;
            padding: 30px 20px;
            border-bottom:0;
            a {

                font:400 20px "aeonik_triallight",Arial,sans-serif;
                color: #fff;
                text-decoration:none;
                >i {
                    font-size: 14px;
                    margin-right: 6px;
                    margin-left: -15px;
                }

                &.dropdown-toggle::after {
                    display: none !important;
                }
            }
        }


        .dropdown-menu{
            top:35px !important;
            transform:none !important;

            .dropdown-item{
                font: 500 15px Inter;
                color: #707070;
                display: flex;
                align-items: center;
                gap: 10px;
                cursor:pointer;
            }
        }


}


/*
*
* OffCanvas Menu Navigation
*
*/
#mobile-navigation {


         a {
            font:400 20px 'aeonik_trialregular', Arial, sans-serif;
            color: #fff;
            padding: 12px 10px;
            position: relative;
            display: flex;
            justify-content: start;
            -webkit-transition: 0.3s ease-in-out;
            -o-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            border-radius: 10px;
            margin-bottom: 2px;
            &:hover {
                color:#C12746;
            }
            >span {
                font:400 20px "aeonik_triallight",Arial,sans-serif;
                float: right;
            }

        }

        .mobile-entrar-link{
            font:400 20px "aeonik_triallight",Arial,sans-serif;
            color:#fff;

        }

}


/*
*
* OffCanvas Custom ScrollBar to Mobile Menu (DropDown Navigation)
*
*/
.offcanvas-scrollbar {
    overflow-y: auto;
    overflow-y: overlay !important; 
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        width: 7px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 5px grey;
        background: #909090;
        border-radius: 10px;
        &:hover {
            background: #1F2937;
        }
    }
}